*{
    box-sizing:border-box;
}

body{ 
    background-color: blue;
    color: white
}
img{ 
    float: right;
}


@media only screen and (max-width:480px) {
    body{
        background: red;

    }
    img{
        float: none;
        width: 100%;
    }
}
@media only screen and (max-width:320px) {
    body{
        background: greenyellow;
        color: black;


    }
}    
    






